@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

html {
  transition: background-color 0.3s ease-in-out;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  transition: color 0.3s ease-in-out;
}

.light {
  background-color: #fff;
  color: #000;
}

.dark {
  background-color: #000;
  color: #fff;
}

.cascadia-mono-regular {
  font-family: "Cascadia Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Regular weight */
}

.cascadia-mono-bold {
  font-family: "Cascadia Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; /* Bold weight */
}
.arsir {
  background-color: #e5e5f7;
  opacity: 0.1;
  background: repeating-linear-gradient(
    -30deg,
    #707070,
    #707070 2px,
    #e5e5f7 2px,
    #e5e5f7 10px
  );
}

.border-bg {
  border: 1px solid #d1d5db;
}
